<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
    <div>
        <a href="{{ site.url }}{{ site.baseurl }}/" class="d-flex align-items-center text-decoration-none">
            <span class="fs-2">
            {%- if site.emojicon -%}
                {{ site.emojicon }}
            {%- endif -%}
            {%- if site.title -%}
                {{ site.title }}
            {%- elsif site.first_name and site.last_name -%}
                <span class="fw-bold">{{ site.first_name }}</span>&nbsp;{{ site.last_name }}
            {%- endif -%}
            </span>
        </a>
        <a href="{{ site.url }}{{ site.baseurl }}/" class="d-flex align-items-center text-decoration-none">
          <span>{{ site.description }}</span>
        </a>
      </div>
    <nav class="navbar d-inline-flex mt-2 mt-md-0 ms-md-auto">
        {% assign nav_pages = site.pages | where:'nav', true %}
        {% for item in nav_pages %}
            <a class="fs-3 me-3 py-2 text-decoration-none" href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    </nav>
</header>